@model IEnumerable<Frekisa.Models.Funcionarios>

@{
ViewBag.Title = "Lista de Funcionários";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><b>Lista de Funcionarios</b></h2>

@if (TempData["confirm"] != null)
{
<div class="alert alert-success alert-dismissible" role="alert">
    <strong> @TempData["confirm"] </strong>
</div>
}

@if (TempData["erroDelete"] != null)
{
<div class="alert alert-danger alert-dismissible" role="alert">
    <strong>Não foi possivel excluir o funcionario - </strong> @TempData["erroDelete"]
</div>
}

<button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal" style="width: 150px">
    Novo Funcionário +
</button>
<hr />
<form method="post" action="~/Funcionarios/Create" id="frmCreate">
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Cadastro de Funcionário</h4>
                </div>
                <div class="modal-body form-horizontal">

                    <div class="form-group form-inline">
                        @Html.Label("Nome", htmlAttributes: new { @class = "control-label col-md-2" })
                        <input class="form-control" type="text" name="nome" id="nome" style="border-color:red" maxlength="50" required />
                    </div>
                    <div class="form-group form-inline">
                        @Html.Label("CPF", htmlAttributes: new { @class = "control-label col-md-2" })
                        <input class="form-control" type="text" name="cpf" id="cpf" style="border-color:red" placeholder="___.___.___-__" required />
                    </div>
                    <div class="form-group form-inline">
                        @Html.Label("Login", htmlAttributes: new { @id = "login", @class = "control-label col-md-2" })
                        <input class="form-control col-md-10" type="text" name="login" id="login" style="border-color:red" required />
                    </div>
                    <div class="form-group form-inline">
                        @Html.Label("Senha", htmlAttributes: new { @id = "senha", @class = "control-label col-md-2" })
                        <input class="form-control col-md-10" type="password" name="senha" id="senha" style="border-color:red" maxlength="20" required />
                    </div>
                    <div class="form-group form-inline">
                        @Html.Label("isGerente", htmlAttributes: new { @id = "isGerente", @class = "control-label col-md-2 checkbox" })
                        <input class="form-control col-md-10" type="checkbox" name="isGerente" id="isGerente" style="border-color:red" />
                    </div>
                </div>
                <div class="modal-footer lado-a-lado">
                    <button type="submit" class="btn btn-success">Cadastrar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</form>


<div>
    <table class="table table-striped table-hover" id="tabelaFuncionario">
        <thead>
            <tr>
                <th>
                    Nome
                </th>
                <th>
                    CPF
                </th>
                <th>
                    Login
                </th>
                <th>
                    Senha
                </th>
                <th>
                    Gerente ?
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nome_funcionario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cpf_funcionario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.login)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.senha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.is_gerente)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.id_funcionario }, new { @data_toggle = "modal", data_target = "#modal" }) |
                    @Html.ActionLink("Excluir", "Delete", new { id = item.id_funcionario }, new { @data_toggle = "modal", data_target = "#modal" })
                </td>
            </tr>
        }

            <!--Modal para Editar e deletar-->
            <div class="modal fade" id="modal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                    </div>
                </div>
            </div>

        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#tabelaFuncionario").DataTable({
            "language": {
                "lengthMenu": "Exibe _MENU_ Registros por Pagina",
                "search": "Procurar",
                "paginate": { "previous": "Retornar", "next": "Avançar" },
                "zeroRecords": "Nada foi encontrado.",
                "info": "Exibindo página _PAGE_ de _PAGE_",
                "infoEmpty": "Sem Registro",
                "infoFiltered": "(filtro de _MAX_ registros totais)"
            }
        });
        $(document).ready(function () {
            $("#cpf").inputmask("mask", { "mask": "999.999.999-99" }, { reverse: true });
        });
    });
</script>
