@model Frekisa.Models.Contrato

@{
    ViewBag.Title = "Excluir";
    Layout = "~/Views/Shared/LayoutModal.cshtml";

}

<h2 class="text-center"><b>Excluir</b></h2>

<h3 class="text-center">Tem certeza que quer excluir esse contrato?</h3>
<div>
    <h4 class="text-center">Contrato</h4>
    <hr />
    <div class="modal-body" style="display:flex; justify-content:center">
        <dl class="dl-horizontal">

            <dt>
                <b>ID do Contrato :</b>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.id_contrato)
            </dd>

            <dt>
                <b>ID do Cliente :</b>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Clientes.id_cliente)
            </dd>

            <dt>
                <b>Nome do Cliente :</b>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Clientes.nome_cliente)
            </dd>

            <dt>
                <b>CPF do Cliente :</b>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Clientes.cpf_cliente)
            </dd>

            <dt>
                <b>ID do Funcionario :</b>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Funcionarios.id_funcionario)
            </dd>

            <dt>
                <b>Nome do Funcionario :</b>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Funcionarios.nome_funcionario)
            </dd>

            <dt>
                <b>Plano :</b>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Plano)
            </dd>

            <dt>
                <b>Parcelas :</b>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.parcelas)
            </dd>

            <dt>
                <b>Valor das parcelas :</b>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.valor_parcelas)
            </dd>

            <dt>
                <b>Valor pago :</b>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.valor_recebido)
            </dd>
        </dl>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="modal-footer lado-a-lado">
            <button type="submit" value="Delete" class="btn btn-danger"> Deletar</button>
            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index")'">Voltar</button>
        </div>
    }
</div>

